html {
    color: fuchsia;
}

/*
body {
    color: blue;
    background-color: coral;
}
*/

h1 {
    color: green;
    background-color: beige
}

p {
    color: coral;
/*    background-color: aqua*/
}

a {
    color: darkmagenta;
}

.cis-260 {
    color: chartreuse;
    background-color: cadetblue;
}

.test {
    background-color: darkgreen;
}

.anchors {
    
    background-color: darkmagenta;
}

